#card-main{
	border-radius: 40px;
}
#button-main{
	background-color: #F0F1F5;
	color: back; 
	font-size: 18px;
}

.navbar{
	min-height: 75px;

}

.card-text{
	font-family: "Lucida Sans Unicode";
	font-size: 18px;
}

.card-title{
	font-family: "Lucida Sans Unicode";
	font-weight: bold;
	font-size: 18px;
}