#card-main{
	border-radius: 40px;
}
#card-graph{
	border-radius: 80px;
}

#button-main{
	background-color: #a6abb9;
	color: back; 
	font-size: 18px;
}

.btn-table{
	width: 100%;
	/*height: 100%;*/
}

.btn_graficas{
	border-radius: 20px;
	font-size: 30px;
	width: 60px;
	height: 80px;
}

.navbar{
	min-height: 75px;

}

#nav-tex{
	font-family: "Lucida Sans Unicode";
}

#card-font-title{
	font-size: 25px;
	text-align: center;
}

#card-font-body{
	font-size: 18px;
	text-align: center;
}

.card-text{
	font-family: "Lucida Sans Unicode";
	font-size: 18px;
}

.card-title{
	font-family: "Lucida Sans Unicode";
	font-weight: bold;
	font-size: 18px;
}